<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>strings</key>
	<array>
		<dict>
			<key>phrase</key>
			<string>в</string>
			<key>replacement</key>
			<string>ϐ</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>д</string>
			<key>replacement</key>
			<string>ⲇ</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>ё</string>
			<key>replacement</key>
			<string>ё̴</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>м</string>
			<key>replacement</key>
			<string>ӎ</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>у</string>
			<key>replacement</key>
			<string>ү</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>ш</string>
			<key>replacement</key>
			<string>ⲱ</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>ы</string>
			<key>replacement</key>
			<string>ӹ</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>ь</string>
			<key>replacement</key>
			<string>Ѣ</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>щ</string>
			<key>replacement</key>
			<string>պ</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>ж</string>
			<key>replacement</key>
			<string>җ</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>ф</string>
			<key>replacement</key>
			<string>ቁ</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>ц</string>
			<key>replacement</key>
			<string>ų</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>б</string>
			<key>replacement</key>
			<string>ϭ</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>х</string>
			<key>replacement</key>
			<string>✘</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>г</string>
			<key>replacement</key>
			<string>ℾ</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>з</string>
			<key>replacement</key>
			<string>ℨ</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>с</string>
			<key>replacement</key>
			<string>⊂</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>и</string>
			<key>replacement</key>
			<string>น</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>н</string>
			<key>replacement</key>
			<string>ℋ</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>к</string>
			<key>replacement</key>
			<string>ќ</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>л</string>
			<key>replacement</key>
			<string>Ꮧ</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>п</string>
			<key>replacement</key>
			<string>ກ</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>й</string>
			<key>replacement</key>
			<string>ū</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>е</string>
			<key>replacement</key>
			<string>℮</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>о</string>
			<key>replacement</key>
			<string>ℴ</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>р</string>
			<key>replacement</key>
			<string>₽</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>а</string>
			<key>replacement</key>
			<string>â</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
		<dict>
			<key>phrase</key>
			<string>т</string>
			<key>replacement</key>
			<string>ㅜ</string>
			<key>caseSensitive</key>
			<true/>
		</dict>
	</array>
	<key>shownPrompt</key>
	<true/>
</dict>
</plist>
